@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [role='button'] {
    cursor: default;
  }

  .article__title {
    @apply mb-4 text-4xl;
    text-wrap: balance;
  }

  .article__subtitle {
    @apply text-lg text-gray10;
    text-wrap: balance;
  }

  .article__header-divider {
    @apply my-4;
  }

  .article__body > *:nth-child(n + 2) {
    @apply mt-8;
  }

  .article__paragraph {
    @apply leading-7;
  }
}
